/* Hero section */

.hero {
  height: 100vh;
  background: center / cover no-repeat url("https://images.pexels.com/photos/2120040/pexels-photo-2120040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  position: relative;
}

.titlebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at 100% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .85) );
}

.hero-text-container {
  position: relative;
}

.hero-text-container:hover .developer {
  color: $white;
}

.hero-title {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 3.7rem;
  font-weight: 100;
  text-align: left;
  line-height: 1;
  transition: 500ms ease;
  user-select: none;
}

.hero-title:nth-child(1) {
  animation: fadeinout 4000ms linear 2000ms infinite;
}

@keyframes fadeinout {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.developer {
  color: #ddd;
  display: block;
  letter-spacing: 0px;
  font-weight: 100;
  margin-left: 2rem;
  position: relative;
  transition: color 200ms ease-out;
  // animation: slide-in 1500ms ease-in-out 1;
}

.hero-title:hover .developer {
  transform: translateX(-1rem);
}

/* /Hero Section */