*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  background-color: black;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, label {
  color: #363636;
}

.icon-size {
  font-size: 6rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

a:link, a:visited {
  color: #363636;
}

.about, .projects, .contact {
  padding: 3.5rem 0;
}

.section-title {
  font-size: 2.2rem;
  font-weight: 300;
  padding: 1rem;
  text-align: center;
}

/* Navigation */
.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f6f6f6;
  margin: 0 auto;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 1000;
  height: 4.5rem;
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 1em;
  position: absolute;
  top: 0;
  left: 0;
}

/* Nav Hamburger Button */
.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  background: #363636;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 2px;
  position: relative;
  width: 2em;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-menu {
  background: #f6f6f6;
  text-align: left;
  padding-top: .5em;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  width: 100%;
}

.logo {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 200;
  padding: .5em 1em;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-item {
  text-decoration: none;
  font-weight: 200;
  font-size: 1.2em;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ nav .nav-item {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 200ms;
  transition: opacity 250ms ease-in-out 200ms;
}

/* Hero section */
.hero {
  height: 100vh;
  background: center/cover no-repeat url("https://images.pexels.com/photos/2120040/pexels-photo-2120040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  position: relative;
}

.titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: radial-gradient(circle at 100% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.85));
}

.hero-text-container {
  position: relative;
  top: -10vh;
}

.hero-text-container:hover .developer {
  color: #3523aa;
}

.hero-title {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  font-size: 3.7rem;
  font-weight: 100;
  text-align: left;
  line-height: 1;
  -webkit-transition: opacity 500ms ease, -webkit-transform 990ms ease-out;
  transition: opacity 500ms ease, -webkit-transform 990ms ease-out;
  transition: transform 990ms ease-out, opacity 500ms ease;
  transition: transform 990ms ease-out, opacity 500ms ease, -webkit-transform 990ms ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.developer {
  color: #bbb;
  display: block;
  letter-spacing: 0px;
  font-weight: 300;
  margin-left: 2rem;
  position: relative;
  top: -0.75rem;
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  -webkit-animation: slide-in 1500ms ease-in-out 1;
          animation: slide-in 1500ms ease-in-out 1;
}

.hero-title:hover .developer {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.hero-title:hover .developer {
  color: #3523aa;
}

.hero-subtitle {
  color: white;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 200;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
  position: absolute;
  bottom: 10vh;
  text-align: center;
}

/* /Hero Section */
/* About */
.about {
  min-height: 90vh;
  text-align: center;
  background: #eeeeee;
  position: relative;
}

.card {
  background: #5c2b1f;
  border-radius: 3px;
  border: 3px dashed orangered;
  width: 700px;
  padding: 2rem;
  margin: 0 auto;
}

.about ul {
  max-width: 750px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.about ul li {
  margin: .75rem 2rem;
}

.about-title, .about-subtitle {
  color: #363636;
}

.about-subtitle {
  font-size: 1rem;
  font-weight: 400;
}

.profile-pic {
  margin: 1.25rem 0;
  width: 200px;
  border-radius: 50%;
  /* padding: 0.25rem; */
  border: 4px rgba(0, 0, 0, 0.45) solid;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3-alt {
  color: #0074D9;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-code {
  color: #0769ad;
}

.fa-react {
  color: #59c0de;
}

.fa-git-square {
  color: #f05133;
}

.fa-database {
  color: #336791;
}

.express {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 0 auto 1rem;
  background: center/contain no-repeat url("../img/express.svg");
}

.fa-node, .fa-npm {
  color: #90c63d;
}

.ruby {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 0 auto 1rem;
  background: center/cover no-repeat url("../img/ruby.png");
}

.aws {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 0 auto 1rem;
  background: center/contain no-repeat url("../img/aws.svg");
}

.slack {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 0 auto 1rem;
  background: center/contain no-repeat url("../img/slack.svg");
}

i {
  margin-bottom: .75rem;
  -webkit-transition: -webkit-transform 100ms ease-out;
  transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
  transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about ul li:hover i {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* Projects */
.projects {
  margin: 0 auto;
  text-align: left;
  background: radial-gradient(circle, #363535 0%, #1b1b1b 100%);
  padding: 3rem 0 1rem;
}

.projects h2, .projects p {
  color: white;
}

.row {
  margin: 5.5rem 0;
}

.row a {
  display: block;
  margin: 0 auto;
}

.img-description {
  max-width: 95%;
  padding: 0.5rem 0;
  line-height: 1.5;
  font-size: 1rem;
  margin: 0 auto;
}

.project-pic {
  width: 95%;
  max-width: 500px;
  max-height: 325px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin: 0 auto 1rem;
  display: block;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 125ms ease;
  transition: -webkit-transform 125ms ease;
  transition: transform 125ms ease;
  transition: transform 125ms ease, -webkit-transform 125ms ease;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 75%;
  margin: auto;
}

.project-links a {
  color: black;
  font-weight: 300;
}

.live-site {
  background: white;
  color: black;
  padding: .4rem;
  border-radius: 3px;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  cursor: pointer;
}

.project-icon-github {
  color: white;
  font-size: 3rem;
}

/* Contact */
.contact {
  background: center/cover no-repeat url("https://images.pexels.com/photos/1166643/pexels-photo-1166643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);
}

.contact h2, .contact label {
  color: white;
}

/* FORM */
form {
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 0 .5rem;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1rem;
  margin: 0;
  text-align: left;
}

.name-input, .email-input, .message-input, .submit-btn {
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  color: black;
  padding: 0.75rem;
  border: none;
  margin: 1rem auto;
  width: 100%;
  max-width: 400px;
  resize: none;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 1px 5px 5px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

/* Submit Button */
.submit-btn {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem;
  width: 150px;
  grid-column: span 2;
  margin: 0 auto 1rem;
  -webkit-transition: background-color 150ms ease-out;
  transition: background-color 150ms ease-out;
  background-color: #eee;
}

.submit-btn:hover {
  background-color: #d9d9d9;
}

.email {
  color: white;
  padding: 1rem 0;
  text-align: center;
}

/* Footer */
footer {
  padding: .5rem;
  background-color: #262626;
  color: #9E9E9E;
  text-align: center;
}

footer p, footer h6 {
  color: white;
  font-size: .7rem;
  padding: 1rem 0;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

footer p:hover, footer h6:hover {
  color: #ccc;
}

footer h6 a:link {
  color: white;
}

@media screen and (min-width: 375px) {
  .hero-subtitle {
    bottom: 15vh;
  }
}

@media screen and (min-width: 800px) {
  .about ul li {
    display: inline-block;
  }
  .nav-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(600px, 3fr) 1fr;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .nav-header .logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nav-header .nav-menu {
    all: unset;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-header .nav-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-header .nav-menu ul li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  .nav-header .nav-menu .nav-item {
    opacity: 1;
    position: relative;
  }
  .nav-header .nav-menu .nav-item::before {
    background: #363636;
    background: #3523aa;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: -.5rem;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: opacity ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
    transition: opacity ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms, opacity ease-in-out 150ms;
    transition: transform ease-in-out 150ms, opacity ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
  }
  .nav-header .nav-menu .nav-item:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  .nav-header .nav-toggle-label {
    display: none;
  }
  .hero-title {
    font-size: 6rem;
  }
  .hero-subtitle {
    width: 80%;
    line-height: 2;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: color 150ms ease;
    transition: color 150ms ease;
    margin: 0 2rem 0 auto;
    max-width: 100%;
  }
  .hero-subtitle:hover {
    color: white;
  }
  .about {
    position: relative;
  }
  .about::before {
    content: '';
    background: radial-gradient(circle at top left, #3523aa, rgba(53, 35, 170, 0.7));
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    width: 500px;
    height: 200px;
    left: 0;
    top: 0;
    position: absolute;
  }
  .about::after {
    content: '';
    background: radial-gradient(circle at bottom right, #3523aa, rgba(53, 35, 170, 0.7));
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    width: 500px;
    height: 200px;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .icon-size {
    font-size: 4rem;
  }
  .project-pic {
    width: 100%;
  }
  .row header {
    position: relative;
  }
  .gallery {
    padding: 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3.5rem;
  }
  .row {
    margin: 0;
  }
  .row a {
    color: black;
  }
  .project-links {
    max-width: 100%;
    background: transparent;
    opacity: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
  }
  .project-links .project-icon-github {
    color: white;
    font-size: 3rem;
    -webkit-transition: 250ms ease;
    transition: 250ms ease;
  }
  .project-links .project-icon-github:hover {
    color: #ddd;
  }
  .gallery header:hover .project-links {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.85)));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.85));
    opacity: 1;
  }
  .img-description {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: inline-block;
    -webkit-transition: 150ms ease;
    transition: 150ms ease;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .live-site:hover {
    background: #222;
    color: white;
  }
  form {
    max-width: 600px;
  }
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    margin-left: -30rem;
  }
  100% {
    opacity: 1;
    margin-left: 2rem;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    margin-left: -30rem;
  }
  100% {
    opacity: 1;
    margin-left: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */